/**
 * @name Rainbow Virtual Boy
 * @author FrostNova
 * @version 1
 * @description A theme based on a failed Nintendo console with smooth rainbow colors.
 * @source https://github.io
 * @invite VBYF6vMejM
 * @authorId 1490193046971617321
 */

@import url('https://Nexus-Themes.github.io/Virtual-Boy/virtual-boy.css');

/* Comment out this line to disable message boxes */
@import url("https://riddim-glitch.github.io/Virtual-Boy/MessageBoxes.css");

/* Uncomment this line to use Right Aligned Selfmessages. Requires helper plugin! */
/* @import url("https://Riddim-GLiTCH.github.io/Virtual-Boy/selfmessages.css"); */

/* === INITIALIZE FLUID SPECTRUM PROPERTY === */
@property --rainbow-deg {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

:root {
  /* Set up the base text shadow size */
  --text-shadow-size: 1px; /*Default: 1px*/

  /* Construct perfectly blendable HSL colors from the smooth running number */
  --VBaccent: calc(var(--rainbow-deg)) 100% 50%;
  --VBaccent-muted: calc(var(--rainbow-deg)) 100% 39.2%;
  --VBaccent-dimmest: calc(var(--rainbow-deg)) 100% 17.6%;

  /* Run the hardware accelerated fade loop */
  animation: FluidRainbowFade 30s linear infinite;
}

/* === SEAMLESS SPECTRUM LOOP === */
@keyframes FluidRainbowFade {
  0% {
    --rainbow-deg: 0;
  }
  100% {
    --rainbow-deg: 360;
  }
}
